<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lab2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrackingServlet</display-name>
    <servlet-name>TrackingServlet</servlet-name>
    <servlet-class>servlets.TrackingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/TrackingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetweetsServlet</display-name>
    <servlet-name>RetweetsServlet</servlet-name>
    <servlet-class>servlets.RetweetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetweetsServlet</servlet-name>
    <url-pattern>/RetweetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByVenueServlet</display-name>
    <servlet-name>ByVenueServlet</servlet-name>
    <servlet-class>servlets.ByVenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByVenueServlet</servlet-name>
    <url-pattern>/ByVenueServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UsersServlet</display-name>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>servlets.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/UsersServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserVenuesServlet</display-name>
    <servlet-name>UserVenuesServlet</servlet-name>
    <servlet-class>servlets.UserVenuesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserVenuesServlet</servlet-name>
    <url-pattern>/UserVenuesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserTrackerServlet</display-name>
    <servlet-name>UserTrackerServlet</servlet-name>
    <servlet-class>servlets.UserTrackerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserTrackerServlet</servlet-name>
    <url-pattern>/UserTrackerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchVenue</display-name>
    <servlet-name>SearchVenue</servlet-name>
    <servlet-class>servlets.SearchVenue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchVenue</servlet-name>
    <url-pattern>/SearchVenue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchNearby</display-name>
    <servlet-name>SearchNearby</servlet-name>
    <servlet-class>servlets.SearchNearby</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchNearby</servlet-name>
    <url-pattern>/SearchNearby</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitedByServlet</display-name>
    <servlet-name>VisitedByServlet</servlet-name>
    <servlet-class>servlets.VisitedByServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitedByServlet</servlet-name>
    <url-pattern>/VisitedByServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VenuesForUserServlet</display-name>
    <servlet-name>VenuesForUserServlet</servlet-name>
    <servlet-class>servlets.VenuesForUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VenuesForUserServlet</servlet-name>
    <url-pattern>/VenuesForUserServlet</url-pattern>
  </servlet-mapping>
</web-app>