* {
	font-family: "Lucida Grande";
}

body {
	background-color: #8ec1da;
}

form {
	background-color: #fff;
    /* Centre form */
    margin: 0 auto;
    width: 500px;
    /* Outline form*/
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    /* Align labels and make same size */
    display: inline-block;
    width: 200x;
    text-align: right;
}

input.nmb {
    /* Add same font for all input fileds */
    font: 1em sans-serif;

    /* Set all fields to same size */
    width: 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Field border */
    border: 1px solid #999;
}

input.nms {
    /* Add same font for all input fileds */
    font: 1em sans-serif;

    /* Set all fields to same size */
    width: 200px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Field border */
    border: 1px solid #999;
}
input.geo {
    /* Add same font for all input fileds */
    font: 1em sans-serif;

    /* Set all fields to same size */
    width: 80px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Field border */
    border: 1px solid #999;
}
textarea{
/* Add same font for all input fileds */
    font: 1em sans-serif;

    /* Set all fields to same size */
    width: 250px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Field border */
    border: 1px solid #999;

}
input:focus, textarea:focus {
    /* Highlight active */
    border-color: #000;
}
textarea {
    /* Align txt area */
    vertical-align: top;

    /* Enough room for txt */
    height: 5em;

    /* Allow resizing */
    resize: vertical;
}
.button {
    /* Set the position of the button*/
    padding-left: 90px; /* same size as the label elements */
}

button {

    margin-left: .5em;
}

#results {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #e1e8ed;
	border-botton: 0;
	margin-top: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.tweet {
	background-color: #f5f8fa;
	padding: 5px 10px;
	clear: both;
	border-bottom: 1px solid #e1e8ed;
	min-height: 60px;
}

.tweet:first-child {
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.tweet:last-child {
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.tweet:hover {
	background-color: #fff;
}

.tweet img {
	float: left;
	padding: 5px 10px;
}

.tweet > .title {
	margin-top: 5px;
	font-weight: bold;
	color: #292f33;
	display: inline-block;
}

.tweet > .screen_name {
	color: #999;	
	font-size: 13px;
}

.tweet > p.text {
	font-size: 14px;
	margin: 0;
}