<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>lab2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TrackingServlet</display-name>
    <servlet-name>TrackingServlet</servlet-name>
    <servlet-class>servlets.TrackingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackingServlet</servlet-name>
    <url-pattern>/TrackingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetweetsServlet</display-name>
    <servlet-name>RetweetsServlet</servlet-name>
    <servlet-class>servlets.RetweetsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetweetsServlet</servlet-name>
    <url-pattern>/RetweetsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ByVenueServlet</display-name>
    <servlet-name>ByVenueServlet</servlet-name>
    <servlet-class>servlets.ByVenueServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ByVenueServlet</servlet-name>
    <url-pattern>/ByVenueServlet</url-pattern>
  </servlet-mapping>
</web-app>